.form-label {
    margin-left: 0.2rem;
    font-weight: bold;
}

.form-control {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
}

.form-check-label, .form-check-input, .form-control[type=date], select.form-control {
    cursor: pointer;
}